*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products{
    background: linear-gradient(to right, #e66465, #9151da);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.products>i{
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 30px;
}
.number{
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 15px;
}
.product{
    width: 230px;
    height: 430px;
    background-color: #010101;
    color: white;
    position: relative;
    border-radius: 1.5rem;
    padding-top: 30px;
}
img{
    width: 80%;
    position: absolute;
}
.product h1{
    font-size: 25px;
}
.product p{
    margin-top: 5px;
}
.product i, .product span{
    position: absolute;
}
.product>i{
    font-size: 20px;
    top: 15px;
    left: 20px;
}
.product>span{
    top: 15px;
    right: 25px;
    color: rgb(20, 199, 0);
}
.info{
    background-color: #2e2f33;
    position: absolute;
    bottom: 0;
    border-radius: 1.5rem;
    padding: 10px;
}
.info i{
    position: absolute;
    top: 15px;
    right: 20px;
}
.info button{
    margin-left: 160px;
    padding: 3px 5px;
    border-radius: 3cm;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.5s;
}
.info button:hover{
    background-color: white;
    color: black;
}
.info span{
    margin-top: 5px;
}
.red{
    color: red;
}
.airpods{
    top: 70px;
    left: 20px;
}
.applewatch{
    top: 18px;
    left: 25px;
}
.macbook{
    top: 50px;
    left: 23px;
}
.iphone11pro{
    top: 0px;
    left: 25px;
}
.ipadpro12{
    top: 20px;
    left: 25px;
}

#filter{
    position: absolute;
    top: 30px;
    left: 60px;
    outline: none;
    color: white;
    background-color: purple;
    border-radius: 0.5rem;
    border: none;
}
.cartDiv{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.cart-side{
    width: 60%;
    height: 100%;
    background-color: black;
    float: right;
    position: relative;
    text-align: center;
}
.cart{
    position: absolute;
    font-size: 50px;
    top: 10px;
    left: 48%;
    color: white;
}
.x-icon{
    position: absolute;
    font-size: 30px;
    top: 25px;
    right: 40px;
    color: white;
}
.notification{
    position: absolute;
    width: 95%;
    left: 25px;
    top: 280px;
    font-size: 45px;
    color: #3e3e3e;
}
.total{
    position: absolute;
    font-size: 25px;
    bottom: 160px;
    right: 30px;
    color: white;
}
.purchase{
    text-decoration: none;
    position: absolute;
    bottom: 60px;
    right: 220px;
    font-size: 23px;
    color: white;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 0.5rem;
    transition: 0.5s;
    overflow: hidden;
    z-index: 0;
}
.purchase::before{
    content: '';
    width: 0;
    height: 100%;
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 0.25rem;
    z-index: -1;
    transition: 0.3s;

}
.purchase i{
    margin-left: 8px;
    color: blue;
}
.purchase:hover::before{
    width: 100%;
}
.purchase:hover{
    color: black;
}
.clear{
    text-decoration: none;
    position: absolute;
    bottom: 60px;
    right: 30px;
    font-size: 23px;
    color: white;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 0.5rem;
    transition: 0.5s;
    overflow: hidden;
    z-index: 0;
}
.clear::before{
    content: '';
    width: 0;
    height: 100%;
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 0.25rem;
    z-index: -1;
    transition: 0.3s;
}
.clear i{
    margin-left: 8px;
    color: red;
}
.clear:hover::before{
    width: 100%;
}
.clear:hover{
    color: black;
}
.cart-item{
    width: 90%;
    margin: auto;
    margin-top: 150px;
    position: relative;
    max-height: 350px;
    overflow-y: scroll;
}
.items{
    /* background-color: blue; */
    position: relative;
    color: white;
    height: 75px;
    border-bottom: 1px solid whitesmoke;
}
.ap{
    width: 10%;
    position: absolute;
    left: 30px;
    top: 15px;
}
.aw{
    width: 11%;
    position: absolute;
    left: 30px;
    top: -13px;
}
.iph{
    width: 8%;
    position: absolute;
    left: 30px;
    top: -10px;
}
.mb{
    width: 13%;
    position: absolute;
    left: 30px;
    top: -5px;
}
.ipd{
    width: 8%;
    position: absolute;
    left: 30px;
    top: -5px;
}
.name{
    font-size: 25px;
    position: absolute;
    left: 200px;
    top: 15px;
}
.num{
    font-size: 25px;
    position: absolute;
    left: 420px;
    top: 15px;
}
.cst{
    font-size: 25px;
    position: absolute;
    right: 200px;
    top: 15px;
}
.items i{
    font-size: 25px;
    position: absolute;
    right: 50px;
    top: 20px;
    color: red;
}